
<%=link_to project_path(project) do %>
    <div class="card" style="width: 18rem;">
        <%# <img src="..." class="card-img-top" alt="..."> %>
        <%=image_tag project.cover_image.url, class: "card-img-top"%>
        <%# 引入圖片 %>
        <div class="card-body">
            <h5 class="card-title"><%=project.name%></h5>
            <p class="card-text"><%=project.brief%></p>
            <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
        </div>
    </div>
    <%end%>





<%# https://getbootstrap.com/docs/5.0/components/card/ %>