<nav class="navbar navbar-light bg-light ">
  <div class="container-fluid">
    <a class="navbar-brand">Jocelyn專案demo</a>
    

    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <ul class="navbar-nav ml-sm-2">
      <li class="nav-item">
        <% if current_user %>
        <%= link_to '登出', destroy_user_session_path, method: :delete, class: "nav-link"  %>
        <% else%>
        <%= link_to '登入', user_session_path, class: "nav-link"%>
        <% end %>
      </li>
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>


    
  </div>
</nav>


